<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="../../static/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
  </head>
  <body>

    <!--CONTENT-->
    <main>
      <section class="home-content"></section>
    </main>
      
    

    <footer>
      <br />
      <p>
        <strong>DataSphere Tech</strong><br />
        Tech Anywhere on Sphere
      </p>
      <br>
      <div class="social-icons">
        <a href="https://github.com/developer" target="_blank" class="icon-link">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://facebook.com/yourpage" target="_blank" class="icon-link">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://instagram.com/youraccount" target="_blank" class="icon-link">
          <i class="fab fa-instagram"></i>
        </a>
        <!-- Add other social media icons similarly -->
      </div>
      <p>
        &copy; 2024 DataSphere Tech. All Rights Reserved.
      </p>
    </footer>
  </body>
</html>