{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>Position</title>
</head>
<body>
    {% block content %}
    {% include 'includes/header.html' %}
        <div class="container"><br/><br/>
            {% for indiv in position %}
            <table>
                <tr>
                    <th>{{ indiv }}</th>
                </tr>
                <tr>
                    <td>{{ indiv.description }}</td>
                </tr>         
            </table>
            {% endfor %}  
        </div>

        <br><br>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
            {% if position.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ position.previous_page_number }}">Previous</a></li>
            {% endif %}
            <li class="page-item disabled"><a class="page-link">Page {{ position.number }} of {{ position.paginator.num_pages }}</a></li>
            {% if position.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ position.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ position.paginator.num_pages }}">Last &raquo</a></li>
            {% endif %}
            </ul>
        </nav>

    {% include 'includes/footer.html' %}
    {% endblock %}
</body>
</html>

